@import "../variables.scss";

.project-container {
  .project-presentation-container {
    max-width: 70%;
    margin: 0 auto;
  }
  .project-header {
    font-weight: bold;
  }
  .project-title {
    font-weight: bold;
  }
  .container-blue {
    background: $blue;
  }
  .container-red {
    background: $red;
  }
  .container-yellow {
    background: $yellow;
    .test {
      box-shadow: 0px 40px 20px 0px rgba(0, 0, 0, 0.2);
    }
  }

  .line {
    @extend %line;
    max-width: 30%;
  }
}
