@import "../variables.scss";

.project-container {
  .header-container {
    max-width: 70%;
    margin-top: 5rem;
    margin-bottom: 8rem;
  }
  .project-title {
    font-weight: bold;
    font-size: 4rem;
  }
  .project-heading {
    font-weight: bold;
  }
  .container-- {
    &blue {
      background: $blue;
    }
    &yellow {
      background: $yellow;
    }
    &red {
      background: $red;
    }
    &white {
      background: white;
    }
  }

  .line {
    @extend %line;
    max-width: 30%;
    margin-bottom: 5rem;
  }
}
