backend:
  name: github
  repo: EvaSpessotto/portfolio-v2

media_folder: static/images
public_folder: images

slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "-"

collections:
  - name: "projects"
    label: "Projects"
    folder: src/pages/projects
    slug: "{{slug}}"
    create: true
    fields:
      - { label: Title, name: title, widget: string }
      - { label: Description, name: description, widget: string }
      - { label: Thumbnail, name: Thumbnail, widget: image }
      - { label: Cover Image, name: Cover, widget: image }
      - { label: Banner Image, name: Banner, widget: image }
      - { label: Devices Image, name: Devices, widget: image }
      - {
          label: Images,
          name: images,
          widget: object,
          fields:
            [
              { label: Image 1, name: image 1, widget: image },
              { label: Image 2, name: image 2, widget: image },
              { label: Image 3, name: image 3, widget: image },
            ],
        }
