backend:
  name: github
  repo: evaspessotto/portfolio-v2

media_folder: static/images
public_folder: images

collections:
  - name: project
    label: Projects
    folder: Projects
    create: true
    fields:
      - { name: path, label: Path }
      - { name: date, label: Date, widget: date }
      - { name: title, label: Title }
      - { name: body, label: Body, widget: markdown }
