@import "../variables.scss";

@mixin animated($time: 500ms, $fillmode: both, $count: 1) {
  animation-duration: $time;
  animation-fill-mode: $fillmode;
  animation-iteration-count: $count;
}

$bezier: cubic-bezier(0.215, 0.61, 0.355, 1);
$time: 300ms;

#contact-links {
  margin-top: 15%;

  h2 {
    font-family: $font;
    font-weight: $bold;
    color: black;
    font-size: 2.2em;
  }

  .line {
    @extend %line;
  }

  .github {
    color: $blue;
    &:hover {
      @include animate(icon-bounce, 0.5s, alternate);
    }
  }

  .behance {
    color: $yellow;
    &:hover {
      @include animate(icon-bounce, 0.5s, alternate);
    }
  }

  .linkedin {
    color: $red;
    &:hover {
      @include animate(icon-bounce, 0.5s, alternate);
    }
  }
}

#contact-form {
  margin-top: 10%;
  margin-bottom: 10%;

  h2 {
    font-family: $font;
    font-weight: $bold;
    color: black;
    font-size: 2.2em;
  }

  .line {
    @extend %line;
  }

  .form-group {
    &:not(.name) {
      margin-top: 50px;
    }
    &.red-line {
      :focus {
        border-color: $red !important;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    &.blue-line {
      :focus {
        border-color: $blue !important;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    &.yellow-line {
      :focus {
        border-color: $yellow !important;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    label {
      font-family: $font;
      font-weight: $bold;
      font-size: 1.2em;
      margin: 0;
    }

    input,
    textarea {
      border-bottom: solid black 5px;
    }
  }

  .submit-btn {
    color: white;
    background-color: black;
    font-family: $font;
    font-weight: $bold;
    font-size: 1.2em;
    padding: 10px 30px 10px 30px;
    border: none;
    transition: 0.2s ease-in-out;
    &:hover {
      transform: scale(0.9);
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
  }
}
