@import "../variables.scss";

.home {
  &-message {
    margin-top: 20vh;
    font-size: 4rem;
    font-family: Helvetica;
    font-weight: 900;
    color: black;
  }

  @media (max-width: $sm) {
    .home-message {
      font-size: 2em;
    }
  }

  .line {
    @extend %line;
  }

  .animated-squares {
    margin-top: 10%;

    %square {
      width: 100%;
    }

    %square:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    .black {
      @extend %square;
      background-color: black;
      animation: rounded ease-in-out 2s infinite alternate;
    }

    .blue {
      @extend %square;
      background-color: $blue;
      animation: rounded ease-in-out 2s 0.5s infinite alternate;
    }

    .yellow {
      @extend %square;
      background-color: $yellow;
      animation: rounded ease-in-out 2s 1s infinite alternate;
    }

    .red {
      @extend %square;
      background-color: $red;
      animation: rounded ease-in-out 2s 1.5s infinite alternate;
    }
  }
}

.projects-list {
  margin-top: 20rem;
  margin-bottom: 10rem;

  @media (max-width: 400px) {
    .projects-list {
      margin-top: 0;
    }
  }
}
