@import "../variables.scss";

.navbar {
  a {
    font-family: $font;
    font-weight: $bold;
    color: black;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    &:hover {
      color: grey;
      transition: 0.2s ease-in-out;
    }
  }
  .logo {
    font-size: 1.5em;
  }

  .about {
    margin-right: 1rem;
  }
}
