@import "../variables.scss";

.navbar {
  transition: 0.5s ease-in-out;
  &:hover {
    background: black;
    transition: 0.5s ease-in-out;
    .logo {
      color: $blue;
    }
    .about {
      color: $red;
    }
    .contact {
      color: $yellow;
    }
  }
  a {
    font-family: $font;
    font-weight: $bold;
    color: black;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    &:hover {
      color: white !important;
      transition: 0.2s ease-in-out;
    }
  }
  .logo {
    font-size: 1.5em;
  }

  .about {
    margin-right: 1rem;
  }
}
