$font: Helvetica;
$bold: 900;

$blue: #00859b;
$yellow: #ffb500;
$red: #c60000;

$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

%btn {
  color: white;
  background-color: black;
  font-family: $font;
  font-weight: $bold;
  font-size: 1.2em;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: none;
  transition: 0.2s ease-in-out;
  &:hover {
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
}

// Animation carrés Home
@keyframes rounded {
  from {
    border-radius: 0px;
  }

  to {
    border-radius: 100px;
  }
}

%line {
  height: 10px;
  background: black;
}

// Animation icones page Contact
@mixin animate($animation-name, $time, $style) {
  -webkit-animation: $animation-name $time $style;
  -moz-animation: $animation-name $time $style;
  -o-animation: $animation-name $time $style;
  animation: $animation-name $time $style;
}

// Animation icones page Contact
@keyframes icon-bounce {
  0%,
  100% {
    transform: (rotate(0deg));
  }
  25% {
    transform: (rotate(15deg));
  }
  50% {
    transform: (rotate(-15deg));
  }
  75% {
    transform: (rotate(5deg));
  }
  85% {
    transform: (rotate(-5deg));
  }
}

@keyframes rainbow {
  0% {
    background-color: black;
    border-radius: 0px;
  }
  33% {
    background-color: $yellow;
    border-radius: 100px;
  }
  66% {
    background-color: $red;
    border-radius: 0px;
  }
  100% {
    background-color: $blue;
    border-radius: 100px;
  }
}
